.recipetitle {
    font-size: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    color: rgba(167, 91, 37, 0.856);
    padding: 20px;
}

img {
    border-radius: 10px;
    margin: 20px;
}

p, li, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: chocolate;
}